{% extends 'base.html.twig' %}

{% block title %}Créer une promotion{% endblock %}

{% block body %}
<h3 class="card-title">Créer une promotion</h3>

    {% for message in app.session.flashbag.get('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-dark" style="margin: 15px 40px" type="submit" value="Créer" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('promotion_index') }}" class="btn btn-dark" >Retour à la liste</a>
        </li>
    </ul>
{% endblock %}
