{% extends 'show.html.twig' %}

{% block title %}Module{% endblock %}

    {% block titleList %} Module {{ module.libelle }} {% endblock %}

{% block headTable %}
    <th>Id</th>
    <th>Libelle</th>
    <th>Description</th>
{% endblock %}

{% block bodyTable %}
    <tr>
        <td>{{ module.id }}</td>
        <td>{{ module.libelle }}</td>
        <td>{{ module.description }}</td>
    </tr>
{% endblock %}

{% block add %}<a href="{{ path('module_index') }}" class="btn btn-dark">Retour à la liste</a>{% endblock %}

