{% trans_default_domain 'FOSUserBundle' %}

{#{% if error  is defined %}#}
    {#<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>#}
{#{% endif %}#}

<form action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token  is defined %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}

    <label for="username">{{ 'security.login.username'|trans }}</label>
    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-user"></i> </span>
        <input type="text" class="form-control"   id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" />
    </div>
    <label for="password">{{ 'security.login.password'|trans }}</label>

    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-key"></i> </span>
        <input type="password" class="form-control" id="password" name="_password" required="required" autocomplete="current-password" />
    </div>
    
    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>

    <input type="submit" class="btn btn-primary" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
</form>
