{% extends 'show.html.twig' %}

{% block title %}Formation{% endblock %}

{% block titleList %} Formation {{ formation.libelle }} {% endblock %}

{% block headTable %}
    <th>Id</th>
    <th>Libelle</th>
    <th>Description</th>
{% endblock %}

{% block bodyTable %}
    <tr>
        <td>{{ formation.id }}</td>
        <td>{{ formation.libelle }}</td>
        <td>{{ formation.description }}</td>
    </tr>
{% endblock %}

{% block add %}<a href="{{ path('formation_index') }}" class="btn btn-dark">Retour à la liste</a>{% endblock %}

