{% extends 'index.html.twig' %}

{% block title %}Liste des évènements{% endblock %}

{% if evenements|length > 0 %}
{% block titleList %}Liste des évènements {% endblock %}

{% block headTable %}
    <th>Id</th>
    <th>Titre</th>
    <th>Description</th>
    <th>Photo</th>
    <th>Actions</th>
{% endblock %}

{% block bodyTable %}
    {% for evenement in evenements %}
        <tr>
            <td><a href="{{ path('evenement_show', { 'id': evenement.id }) }}">{{ evenement.id }}</a></td>
            <td>{{ evenement.titre }}</td>
            <td>{{ evenement.description }}</td>
            <td>{% for image in evenement.images %}
                 <img src="{{ asset('uploads/images/') }}{{ image.nom }}" style="width:100px; height:100px;">
                {% endfor %}
            </td>
            <td>

                {{ evenement.photo }}


            </td>
            <td>
                <div class="btn-group btn-group-toggle">
                    <a href="{{ path('evenement_show', { 'id': evenement.id }) }}" class="btn btn-light">Voir</a>
                    <a href="{{ path('evenement_edit', { 'id': evenement.id }) }}" class="btn btn-light">Modifier</a>
                </div>
            </td>
        </tr>
    {% endfor %}
{% endblock %}

{% endif %}

{% block add %}<a href="{{ path('evenement_new') }}" class="btn btn-dark">Créer un nouvel évènement</a>{% endblock %}
