{% extends 'index.html.twig' %}

{% block title %}Liste des évènements{% endblock %}

{% if evenements|length > 0 %}
{% block titleList %}Liste des évènements {% endblock %}

{% block headTable %}
    <th>Id</th>
    <th>Titre</th>
    <th>Description</th>
    <th>Photo(s)</th>
    <th>Actions</th>
{% endblock %}

{% block bodyTable %}
    {% for evenement in evenements %}
        <tr>
            <td><a href="{{ path('evenement_show', { 'id': evenement.id }) }}">{{ evenement.id }}</a></td>
            <td>{{ evenement.titre }}</td>
            <td>{{ evenement.description }}</td>
            <td>{% for image in evenement.images %}
                 <div style="border: 2px solid #dee2e6; border-radius: 5px; text-align: center; padding: 5px 0; display: flex;justify-content: space-evenly;align-items: center; margin-bottom: 3px">
                     <img src="{{ asset('uploads/images/') }}{{ image.nom }}" style="width:100px; height:100px;">
                     <a href="{{ path('image_delete', { 'id': image.id }) }}" class="btn btn-light"><i class="far fa-trash-alt fa-2x"></i></a>
                 </div>
                {% endfor %}
            </td>
            <td>
                <div class="btn-group btn-group-toggle">
                    <a href="{{ path('evenement_show', { 'id': evenement.id }) }}" class="btn btn-light">Voir</a>
                    <a href="{{ path('evenement_edit', { 'id': evenement.id }) }}" class="btn btn-light">Modifier</a>
                    <a href="{{ path('evenement_delete', { 'id': evenement.id }) }}" class="btn btn-light">Supprimer</a>

                </div>
            </td>
        </tr>
    {% endfor %}
{% endblock %}

{% endif %}

{% block add %}<a href="{{ path('evenement_new') }}" class="btn btn-dark">Créer un nouvel évènement</a>{% endblock %}
