{% extends 'base.html.twig' %}

{% block title %}Ajouter un évènement{% endblock %}

{% block body %}
<h3 class="card-title">Creation d'un évènement </h3>

    {{form_start(form, {'attr':{'enctype':'multipart/form-data'}}) }}

        {{ form_row(form._token) }}
        {{form_row(form.titre)}}
        {{form_row(form.description)}}
        {{form_row(form.module)}}
        <input type="file" name="img[]" multiple="multiple" />
        <br>
        <input class="btn btn-dark" style="margin: 15px 40px" type="submit" value="Créer" />


    <ul>
        <li>
            <a href="{{ path('evenement_index') }}" class="btn btn-dark">Retour à la liste</a>
        </li>
    </ul>
{% endblock %}
