{% extends 'show.html.twig' %}

{% block title %}Evènement{% endblock %}


{% block titleList %} Evènement {{ evenement.titre }} {% endblock %}

{% block headTable %}
    <th>Id</th>
    <th>Titre</th>
    <th>Description</th>
    <th>Photo</th>

{% endblock %}

{% block bodyTable %}
    <tr>
        <td>{{ evenement.id }}</td>
        <td>{{ evenement.titre }}</td>
        <td>{{ evenement.description }}</td>
        <td>{% for image in evenement.images %}
                <div style="border: 2px solid #dee2e6; border-radius: 5px; text-align: center; padding: 5px 0; display: flex;justify-content: space-evenly;align-items: center; margin-bottom: 3px">
                    <img src="{{ asset('uploads/images/') }}{{ image.nom }}" style="width:100px; height:100px;">
                </div>
            {% endfor %}</td>
    </tr>
{% endblock %}

{% block add %}<a href="{{ path('evenement_index') }}" class="btn btn-dark">Retour à la liste</a>{% endblock %}

